.book {
    margin: 2em;
}

.book-image {
}

.book-description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 150%;
    text-align: justify;
}

book-table {
    width: 30%;
}